@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-danger-0: #e7000b;
  --color-danger-1: #c10007;

  --color-text-0: #0f1623;
  --color-text-1: #5a6478;

  --color-neutral-0: #fef8fc;

  --color-gray-0: #697381;

  --color-accent-0: #ff9a00;

  --font-serif: "DM Serif Display", sans-serif;
  --font-sans: "DM Sans Variable", sans-serif;
}

@variant dark {
  --color-danger-0: #e7000b;
  --color-danger-1: #c10007;

  --color-text-0: #6b7a96;
  --color-text-1: #e4eaf5;

  --color-neutral-0: #0d1117;
  --color-neutral-1: #1e2736;
  --color-neutral-2: #161c27;

  --color-accent-0: #3b82f6;
}
